<h1>My tasks</h1>

<% @tasks.each do |item| %>
  <label>
    <input type='checkbox' <%= item.completed ? "checked":"&nbsp;" %>>
  </label>
  <%= link_to item.title, "tasks/#{item.id}" %> &nbsp; <%= link_to "Delete", task_path(item), method: :delete %><br>
<% end %>

<br><br>

<%= link_to 'Add a new task', 'tasks/new' %>