// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.details {
  background: #cecece;
  padding: 20px;
  border: 2px solid #727474;
}

.button-primary {
  background: darkblue;
  color: white;
  padding: 5px 15px;
}
.divider {
  margin-top:30px;
  line:1px solid red;
}